################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.xml
*.exe
*.config
*.pdb
/NewStan/obj/Debug/NewStan.fsproj.FileListAbsolute.txt
*.suo
/NewStan/NewStanSyntaxLexer.fs
/NewStan/NewStanSyntaxParser.fs
/NewStan/NewStanSyntaxParser.fsi
*.txt
